@import url(https://fonts.google.com/specimen/Lexend+Deca);
@import url(https://fonts.google.com/specimen/Big+Shoulders+Display);
*{
    box-sizing: border-box;
}
html{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
}
h3{
    color: hsl(0, 0%, 95%);
    margin: 0;
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-weight: 450;
    line-height: 2;
}
body{
    background-color: hsl(0, 0%, 95%);
    overflow: hidden;
}
.container{
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 450px;
    width: 68%;
}
.box{
    display: grid;
    grid-template-rows: 4rem 10rem 4rem;
    padding: 2.5rem;
}
.box-container{
    margin-bottom: 20px;
}
img{
    height: 40px;
    width: 65px;
}
.one{
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}
.two{
    background-color: hsl(184, 100%, 22%);
}
.three{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}
.button{
    margin-top: 30px;
    width: 75%;
    background-color: hsl(0, 0%, 95%);
    border-radius: 50px;
    font-size: 15px;
    font-weight: 600;
}
.button:hover{
    background-color: transparent;
    color:hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
}
.btn1{
    color: hsl(31, 77%, 52%);
    border: 1px solid hsl(31, 77%, 52%);
}
.btn2{
    color: hsl(184, 100%, 22%);
    border: 1px solid hsl(184, 100%, 22%);
}
.btn3{
    color: hsl(179, 100%, 13%);
    border: 1px solid hsl(179, 100%, 13%);
}
.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 90%;
    left: 50%;
}
.attribution a {
    color: hsl(228, 45%, 44%);
    font-size: 13px;
    color:hsl(4, 100%, 67%);
    text-decoration: none;
}
@media only screen and (max-width:1200px){
    h3{
        margin: 0 0 10px 0;
    }
    p{
        font-size: 14px;
    }
    body{
        padding: 2rem;
    }
    .container{
        position: fixed;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        height: 450px;
        width: 80%;
    }
    .box{
        display: grid;
        grid-template-rows: 4rem 13rem 4rem;
        padding: 2rem;
    }
    img{
        height: 40px;
        width: 65px;
    }
    .one{
        border-radius: 0;
    }
    .three{
        border-radius: 0;
    }
    .button{
        margin-top: 30px;
        width: 70%;
        height: 2rem;
        background-color: hsl(0, 0%, 95%);
        border-radius: 50px;
        font-size: 12px;
        font-weight: 600;
    }
    .button:hover{
        background-color: transparent;
        color:hsl(0, 0%, 95%);
        border: 2px solid hsl(0, 0%, 95%);
    }
    .btn1{
        color: hsl(31, 77%, 52%);
        border: 1px solid hsl(31, 77%, 52%);
    }
    .btn2{
        color: hsl(184, 100%, 22%);
        border: 1px solid hsl(184, 100%, 22%);
    }
    .btn3{
        color: hsl(179, 100%, 13%);
        border: 1px solid hsl(179, 100%, 13%);
    }
    .attribution {
        display: none;
    }
}

@media only screen and (max-width:700px){
    h3{
        margin: 0 0 10px 0;
    }
    p{
        font-size: 13px;
    }
    body{
        padding: 1rem;
    }
    .container{
        display: flex;
        flex-direction: column;
        width: 90vw;
        height: 100vh;
        overflow: scroll;
    }
    .box{
        display: grid;
        grid-template-rows: 4rem 6rem 4rem;
        padding: 1.5rem;
    }
    img{
        height: 40px;
        width: 55px;
    }
    .one{
        border-radius: 0;
    }
    .three{
        border-radius: 0;
    }
    .button{
        margin-top: 30px;
        width: 60%;
        background-color: hsl(0, 0%, 95%);
        border-radius: 50px;
        font-size: 12px;
        font-weight: 600;
    }
    .button:hover{
        background-color: transparent;
        color:hsl(0, 0%, 95%);
        border: 2px solid hsl(0, 0%, 95%);
    }
    .btn1{
        color: hsl(31, 77%, 52%);
        border: 1px solid hsl(31, 77%, 52%);
    }
    .btn2{
        color: hsl(184, 100%, 22%);
        border: 1px solid hsl(184, 100%, 22%);
    }
    .btn3{
        color: hsl(179, 100%, 13%);
        border: 1px solid hsl(179, 100%, 13%);
    }
    .attribution {
        display: none;
    }
}